<div class="container">
    <form action="/users/Registro_Talento" enctype='multipart/form-data' method="post">
        <div class="row">
            <div class="col p-5 align-self-stretch d-block second-col-login">
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="form-group">
                            <label for="">Usuario:</label> <input name="Username" class="form-control" id="" type="username" required>
                        </div>
                        <div class="form-group">
                            <label for="">Correo:</label> <input name="email" class="form-control" id="" type="email" required>
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña:</label> <input name=" password" class="form-control" id="password" type="password" required>
                        </div>
                        <div class="form-group">
                            <label for="">Confirmar Contraseña:</label> <input class="form-control" id="confirm_password" type="password" required>
                        </div>
                        <button class="btn btn-primary mx-auto mt-5" type="submit">Registro</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





