/*General*/

body{
	font-family: 'Century Gothic', 'Muli', sans-serif;;
}

.container {opacity:0; filter:alpha(opacity:0)}
.pace-done .container {opacity:1;filter:alpha(opacity=100);}

/* Navegación */
.navbar-nav{
	font-weight: 600;
}

.login-now{
	-webkit-transition:all 1s;
	transition:all 1s
}

.login-now:hover{
	opacity: 0.8;
}

.img-bg-1, .img-bg-2, .img-bg-3, .img-bg-4, .img-bg-5{
	display: block;
	position: absolute;
	top: 0;
	opacity: 0;
}
.img-bg-1-mobile, .img-bg-2-mobile, .img-bg-3-mobile, .img-bg-5-mobile{
	display: none;
}

.first-section{
	background: url('../img/landing/banner-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 10% 0;
	position: relative;
	z-index: 6;
}

.text-first-section{
	text-align: right;
	margin: 0;
	padding: 0 10px;
	color: white;
	font-weight: 600;
	z-index: 2;
	position: relative;
	font-size: 1.5em;
}

.bg-first-section:before{
	content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.75;
    background: #007bff;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-filter: hue-rotate(158deg);
            filter: hue-rotate(158deg);
}

.video-play{
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.video-play:hover{
	opacity: 0.9;
}

.second-section{
	background: url('../img/landing/banner-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 8% 0;
	position: relative;
	z-index: 5;
}

.bg-second-section{
	color: white;
	font-size:1.5em;
	background: rgba(94,0,229,0.85);
	padding: 20px 15px;
	border-right: 3px solid white;
}

.text-second-section:first-child{
	font-size: 1.3em;
}

.text-second-section-2{
	color: white;
	font-size: 1em;
}

.btn-second-section{
	background: rgba(237, 125, 49, 0.8);
	color: white;
	padding: 10px;
	font-size: 1.6em;
	max-width: 420px;
	border-radius: 20px;
	display: block;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-second-section:hover{
	color: #ED7D31;
	background: white;
	text-decoration: none;
}

.btn-second-section::first-line { 
    font-weight: 600;
}

.third-section{
	background: url('../img/landing/banner-3.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
	z-index: 5;
}

.steps{
	display: block;
	position: absolute;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: 12.39%;
	height: 22.46%;
}
.steps-1, .steps-2, .steps-3{
	top: 17.21%;
}
.steps-4, .steps-5, .steps-6{
	top: 48.96%;
}
.steps-1, .steps-6{
	left: 58.05%;
}
.steps-2, .steps-5{
	left: 36.76%;
}
.steps-3, .steps-4{
	left: 15.39%;
}

.steps-1{
	background: url('../img/landing/paso-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-2{
	background: url('../img/landing/paso-2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-3{
	background: url('../img/landing/paso-3.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-4{
	background: url('../img/landing/paso-4.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-5{
	background: url('../img/landing/paso-5.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-6{
	background: url('../img/landing/paso-6.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.steps-1:hover, .steps-1.active{
	background: url('../img/landing/paso-1-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-2:hover, .steps-2.active{
	background: url('../img/landing/paso-2-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-3:hover, .steps-3.active{
	background: url('../img/landing/paso-3-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-4:hover, .steps-4.active{
	background: url('../img/landing/paso-4-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-5:hover, .steps-5.active{
	background: url('../img/landing/paso-5-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps-6:hover, .steps-6.active{
	background: url('../img/landing/paso-6-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.fourth-section{
	background: url('../img/landing/banner-4.jpg');
	background-size: cover;
	margin-top: -14%;
	padding: 0;
	position: relative;
	z-index: 3;
	background-repeat: no-repeat;
}

.bg-fourth-section{
	color: white;
	font-size:1.5em;
	background: rgba(120, 79, 180, 0.85);
	padding: 20px 15px;
	z-index: 3
}

.btn-fourth-section::first-line{
	font-weight: 100;
}

.btn-fourth-section{
	background: white;
	color: rgb(120, 79, 180);
	padding: 10px;
	font-size: 1.5em;
	border-radius: 20px;
	border: 2px solid white;
	display: block;
	font-weight: 600;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-fourth-section:hover{
	color: white;
	background: rgb(120, 79, 180);
	text-decoration: none;
}


.fifth-section{
	background: url('../img/landing/banner-5.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 25% 0;
	position: relative;
	z-index: 3;
	margin-top: -14%;
}

.bg-fifth-section{
	color: white;
	font-size:1.5em;
	background: rgba(92, 112, 209, 0.82);
	padding: 50px 7%;
	z-index: 3
}

.fifth-section a, .fifth-section table{
	color: white;
}

.fifth-section table{
	font-size: 0.71em;
}

.social-media{
    color: white;
    font-size: 4em;
}

.social-media a{
	color: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.social-media a:hover{
	color: #dbdbdb;
}


.arrow-section{
	display: block;
	position: absolute;
	width: 5%;
	height: 10%;
	/*background: rgba(0, 0, 0, 0.68);*/
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.arrow-section-3{
	bottom: 6%;
}
.arrow-section-4{
	bottom: 6%;
}


@media (min-width: 992px) and (max-width: 1200px){
	.text-first-section{
		font-size: 1.2em
	}
	.second-section{
		padding: 2%;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.bg-second-section{
		font-size: 1.1em;
	}
	.text-second-section:first-child{
		font-size: 1.2em;
	}
	.text-second-section-2{
		font-size: 0.9em;
	}
	.btn-second-section{
		font-size: 1.3em;
	}
	.btn-fourth-section{
		font-size: 1em;
	}
	.bg-fourth-section{
		font-size: 1.1em;
	}
	.fifth-section h1{
		font-size: 1.5em;
	}
	.bg-fifth-section{
		font-size: 1.2em;
	}
	.social-media{
		font-size: 3em;
	}
}

@media (max-width: 992px){
	.mx-center{
		margin: 0 auto;
		display: block;
	}
	.fifth-section table{
		font-size: 0.7em;
	}
}

@media (min-width: 767px) and (max-width: 992px){
	.text-first-section{
		font-size: 1em
	}
	.second-section{
		padding: 1%;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.bg-second-section{
		font-size: 1em;
	}
	.text-second-section:first-child{
		font-size: 1.1em;
	}
	.text-second-section-2{
		font-size: 0.8em;
	}
	.btn-second-section{
		font-size: 1.2em;
		line-height: 1;
	}
	.btn-fourth-section{
		font-size: 1em;
	}
	.bg-fourth-section{
		font-size: 1.1em;
	}
	.fifth-section h1{
		font-size: 1.5em;
	}
	.bg-fifth-section{
		font-size: 1.2em;
	}
	.social-media{
		font-size: 3em;
	}
}

@media (max-width: 767px){
	.img-bg-1-mobile, .img-bg-2-mobile, .img-bg-3-mobile, .img-bg-5-mobile{
		display: block;
		position: absolute;
		top: 0;
		opacity: 0;
	}
	.img-bg-1, .img-bg-2, .img-bg-3, .img-bg-4, .img-bg-5{
		display: none;
	}
	.first-section{
		padding: 0;
		background: url('../img/landing/banner-1-mobile.png');
		background-size: cover;
		background-position-y: bottom;
		background-position-x: center;
		z-index: 100;
		background-repeat: no-repeat;
	}
	.bg-first-section {
	    margin-bottom: 10%;
	}
	.text-first-section{
		text-align: center;
		padding: 2.5% 13%;
		font-size: 17pt;
		line-height: 19pt;
	}
	.video-play{
		margin-bottom: 10%;
	}

	.second-section{
		background: url(../img/landing/banner-2-mobile.jpg);
		padding: 0;
		margin-top: -13.5%;
		background-size: cover;
		background-position-y: bottom;
		background-position-x: center;
	}
	.bg-second-section:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		opacity: 0.65;
		-webkit-filter: hue-rotate(44deg);
		        filter: hue-rotate(44deg);
		background: url('../img/landing/banner-2-titulo-mobile.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: bottom;
	}
	.bg-second-section{
		border-right: none;
		padding: 17% 8% 24%;
		background: none;
	}
	.text-second-section:first-child{
	    font-size: 29pt;
	    line-height: 29pt;
	}
	.text-second-section{
		z-index: 99;
		position: relative;
		font-size: 16pt;
	}
	.text-second-section-2{
		padding: 1% 5%;
		font-size: 17pt;
		margin-bottom: 15%;
	}

	.btn-second-section{
		padding: 15px 10px;
		font-weight: 400;
		line-height: 1;
		font-size: 24pt;
		max-width: 400px;
		margin-bottom: 25%;
	}

	.btn-second-section::first-line { 
	    font-weight: 600;
	    font-size: 14pt;
	}

	.third-section{
		z-index: 50;
	}
	.steps{
		display: block;
		position: absolute;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		width: 32.58%;
		height: 12.07%;
	}
	.steps-1, .steps-2{
		top: 13.18%;
	}
	.steps-3, .steps-4{
		top: 32.89%;
	}
	.steps-5, .steps-6{
		top: 53.43%;
	}
	.steps-1, .steps-4, .steps-5{
		left: 11.81%;
	}
	.steps-2, .steps-3, .steps-6{
		left: 57.23%;
	}

	.fourth-section{
		z-index: 40;
		margin-top: -14.1%;
		background: url('../img/landing/banner-4-mobile.png');
		background-position-x: center;
	    background-position-y: bottom;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.bg-fourth-section{
		padding: 18% 5%;
		background: url('../img/landing/banner-4-titulo-mobile.png');
		background-size: cover;
		font-size: 19pt;
		line-height: 1;
		background-position-y: bottom;
	}

	.bg-fourth-section h1{
		font-size: 29pt;
	}

	.btn-fourth-section {
	    margin: 36% 0 34%;
	    max-width: 300px;
	    text-align: center;
	    background: rgba(120, 79, 180, 0.8);
	    border: none;
	    color: white;
	}
	.btn-fourth-section:hover {
	    background: white;
	    color: rgb(120, 79, 180);
	}

	.fifth-section{
		margin-top: -17%;
		padding: 0;
		background: url('../img/landing/banner-5-mobile.jpg');
		background-position-x: center;
	    background-position-y: top;
	    background-repeat: no-repeat;
	    background-size: cover;
	    z-index: 30
	}

	.bg-fifth-section:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.75;
		background: url('../img/landing/banner-5-titulo-mobile.png');
		background-position-x: center;
	    background-position-y: bottom;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.bg-fifth-section{
		background: none;
	    padding: 19% 10%;
	}

	.bg-fifth-section p, .bg-fifth-section h1{
		position: relative;
	}

	.bg-fifth-section{
		font-size: 16pt;
	}

	.fifth-section table{
		font-size: 12pt;
	}

	.second-fifth-section{
		margin-bottom: 80%;
	}
	.social-media{
		margin-top: 3%;
	}

	p.social-media{
		font-size: 23pt;
		font-weight: 600;
	}

	.social-media a{
		font-size: 2em;
		margin: 0 15px;
	}

	.arrow-section-1{
		width: 7%;
		height: 7%;
		bottom: 3%;
	}

	.arrow-section-2{
		width: 8%;
		height: 5%;
		bottom: 2%;
	}

	.arrow-section-3{
		width: 8%;
		height: 3%;
		bottom: 1%;
	}
	.arrow-section-4{
		width: 8%;
		height: 6%;
		bottom: 2%;
	}

}

@media (max-width: 375px){
	.navbar-nav .nav-link{
		font-size: 0.81em;
	}
}