/* Variabes */
/* Mixin's */
body {
    background: #fff;
    font-family: "Century Gothic",
        "Muli",
        sans-serif;
    color: #B3B3B3;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

.wrappper {
    width: 100%;
    margin: 0 auto;
}
.wrappper:after {
    content: "";
    display: table;
    clear: both;
}

h1, h2, h3 {
    font-family: 'Century Gothic', "Muli", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 1.6em;
}

p {
    font-size: 1.6em;
}

#alphabet {
    margin: 15px auto 100px;
    padding: 0;
    max-width: 500px;
}
#alphabet:after {
    content: "";
    display: table;
    clear: both;
}

#alphabet li {
    float: left;
    margin: 5px;
    font-weight: 600;
    list-style: none;
    width: 35px;
    width: calc(100% * (1/8) - 19px);
    height: 30px;
    padding-top: 5px;
    background: #E6E6E6;
    color: #000;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    border: solid 1px #fff;
    box-sizing: content-box;
}
#alphabet li:hover {
    background: #000;
    border: solid 1px #fff;
    color: #E6E6E6;
}

#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
}

#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
}

.active {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: default;
}
.active:hover {
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.level{
    font-family: 'Century Gothic', "Muli", sans-serif;
    font-weight: 400;
    font-size: 33px;
    color: white;
    background-color: #521B3B;
    padding: 45px 19px 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 1;
}

.hombre{
    position: fixed;
    left: 1%;
    bottom: 1%;
}

.mujer{
    position: fixed;
    right: 1%;
    bottom: 1%;
}

.hint{
    position: absolute;
    top: 3%;
    left: -16%;
    cursor: pointer;
}
.hint:hover{
    opacity: 0.8;
}

.nro-pista{
    background-color: #FF0000;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height:25px;
    border-radius:50%;
    display: block;
    text-align: center;
    position: absolute;
    top: 1%;
    left: -24%;
}

.grid-item { width: 50%; }

@media (max-width: 767px) {
    .logo-nestle{
        display:none;
    }
    
    #alphabet {
        padding: 0 0 0 15px;
    }
    
    .persona {
        display: none!important;
    }
    
    .hint{
        position: relative;
    }
}
@media (max-width: 480px) {
    #alphabet {
        padding: 0 0 0 25px;
    }
    .level{
        font-size: 22px;
        padding: 25px 9px 9px
    }
}