<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>

		<h1>Hola,<b><?= $nombre ?></b></h1>
		<br><br>
		<p style="margin-left: 50px;font-size: 14px;">Su nueva contraseña fue generada </p>
		<p style="margin-left: 50px;font-size: 14px;"> podrá ingresar al sistema  <p>
		<br>
		<p style="margin-left: 50px;font-size: 14px;">Usuario: <b><?= $user ?></b></p>
		<p style="margin-left: 50px;font-size: 14px;">Contraseña: <b><?= $clave ?></b></p>

<br><br>
		<p style="margin-left: 50px;font-size: 14px;">No responda este correo </p>

		<br>
		<br>
		<br>
		<br>

